@model Repository.ViewModels.InvoiceViewModels
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/imgs/theme/favicon.svg" />
    <link rel="stylesheet" href="~/assets/css/main.css?v=6.0" />
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/~/assets/prompt.js"></script>
    @Html.Raw(" <link href='https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css' rel='stylesheet'>");

    <link rel="stylesheet" href="~/assets/js/gridjs/theme/mermaid.min.css">
</head>

<body>
    <div class="invoice invoice-content invoice-3">
        <div class="back-top-home hover-up mt-30 ml-30">
            <a asp-controller="Home" asp-action="Index"><i class="fi-rs-home mr-5"></i> Homepage</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="invoice-inner">
                        <div class="invoice-info" id="invoice_wrapper">
                            <div class="invoice-header">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="invoice-name">
                                            <div class="logo">
                                                <a href="/"><img src="~/assets/imgs/theme/logo-light.svg" alt="logo" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6  text-end">
                                        <div class="invoice-numb">
                                            <h4 class="invoice-header-1 mb-10 mt-20">Invoice No: <span class="text-heading">#@Model.orderCoce</span></h4>
                                            <h6>Invoice Date: <span class="text-heading">@Model.invoiceDate</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-top">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="invoice-number">
                                            <h4 class="invoice-title-1 mb-10">Invoice To</h4>
                                            <p class="invoice-addr-1">
                                                <strong>Food Haven</strong> <br />
                                                An Khanh, Ninh Kieu, Can Tho City<br>                                             
                                                <abbr title="Phone">Phone:</abbr> (+84) 939-371-017<br>
                                                <abbr title="Email">Email: </abbr>shopmmo.vn@gmail.com<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="invoice-number">
                                            <h4 class="invoice-title-1 mb-10">Bill To</h4>
                                            <p class="invoice-addr-1">
                                                <strong>@Model.NameUse</strong> <br />
                                                @Model.AddressUse<br>
                                            @*     71-101 Szczecin, Poland<br> *@
                                                <abbr title="Phone">Phone:</abbr>@Model.phoneUser<br>
                                                <abbr title="Email">Email: </abbr>@Model.emailUser<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="invoice-number">
                                            <h4 class="invoice-title-1 mb-10">Overview</h4>
                                            <p class="invoice-addr-1">
                                                <strong>Invoice Data:</strong>@Model.invoiceDate <br />
                                                <strong>Due Data:</strong>@Model.DueDate<br />
                                                <strong>Payment Method:</strong> @Model.paymentMethod<br />
                                                <strong>Status:</strong> @Html.Raw(Model.status)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-center">
                                <div class="table-responsive">
                                    <table class="table table-striped invoice-table">
                                        <thead class="bg-active">
                                            <tr>
                                                <th>Item</th>
                                                <th class="text-center">Unit Price</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @if (Model.itemList.Any())
                                            {
                                                foreach(var item in Model.itemList)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="item-desc-1">
                                                                <a href=""><span>@item.nameItem</span></a>
                                                             @*    <small>SKU: FWM15VKT</small> *@
                                                            </div>
                                                        </td>
                                                        <td class="text-center">$@item.unitPrice</td>
                                                        <td class="text-center">@item.quantity</td>
                                                        <td class="text-right">$@item.amount</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="3" class="text-end f-w-600">SubTotal</td>
                                                    <td class="text-right">$@Model.itemList.Sum(u =>u.amount)</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text-end f-w-600">Tax</td>
                                                    <td class="text-right">$@Model.tax</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text-end f-w-600">Voucher: @Model.vocherName</td>
                                                    <td class="text-right">$@Model.discountVocher</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text-end f-w-600">Grand Total</td>
                                                    <td class="text-right f-w-600">
                                                        $@((Model.itemList.Sum(u => u.amount) - Model.tax) * (1 - Model.discountVocher / 100))
                                                    </td>
                                                </tr>

                                            }
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-bottom">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <h3 class="invoice-title-1">Important Note</h3>
                                            <ul class="important-notes-list-1">
                                                <li>All amounts shown on this invoice are in US dollars</li>
                                                <li>finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
                                                <li>Once order done, money can't refund</li>
                                                <li>Delivery might delay due to some external dependency</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-offsite">
                                        <div class="text-end">
                                            <p class="mb-0 text-13">Thank you for your business</p>
                                            <p><strong>Food Haven</strong></p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-btn-section clearfix d-print-none">
                            <a href="javascript:window.print()" class="btn btn-lg btn-custom btn-print hover-up"> <img src="~/assets/imgs/theme/icons/icon-print.svg" alt="" /> Print </a>
                            <a id="invoice_download_btn" class="btn btn-lg btn-custom btn-download hover-up"> <img src="~/assets/imgs/theme/icons/icon-download.svg" alt="" /> Download </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Invoice JS -->
    <script src="~/assets/js/invoice/jspdf.min.js"></script>
    <script src="~/assets/js/invoice/invoice.js"></script>
</body>

</html>