@model Repository.ViewModels.ProductVariantCreateViewModel
@{
    ViewBag.Title = "Create Product Type";
    //bool isActive = ViewBag.IsActive;
    bool isActive = ViewBag.IsActive as bool? ?? true;

}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">


<!-- Mirrored from EasyFood.com/velzon/html/master/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2025 12:22:12 GMT -->

<head>

    <meta charset="utf-8" />
    <title>Form layout | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="EasyFood" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assetsAdmin/images/favicon.ico">
    <!-- Plugins css -->
    <link href="~/assetsAdmin/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- Layout config Js -->
    <script src="~/assetsAdmin/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assetsAdmin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assetsAdmin/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assetsAdmin/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/imgs/theme/logo.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/imgs/theme/logo.svg" alt="" height="17">
                                </span>
                            </a>

                            <a href="" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/imgs/theme/logo.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/imgs/theme/logo.svg" alt="" height="17">
                                </span>
                            </a>
                        </div>

                        <button type="button"
                                class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none"
                                id="topnav-hamburger-icon">
                            <span class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>

                        <!-- App Search-->

                    </div>
                    <div class="d-flex align-items-center">
                        <div class="dropdown d-md-none topbar-head-dropdown header-item">
                            <button type="button"
                                    class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle"
                                    id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="bx bx-search fs-22"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                 aria-labelledby="page-header-search-dropdown">
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..."
                                                   aria-label="Recipient's username">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="mdi mdi-magnify"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button"
                                    class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle light-dark-mode">
                                <i class='bx bx-moon fs-22'></i>
                            </button>
                        </div>
                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle header-profile-user"
                                         src="~/assetsAdmin/images/users/avatar-1.jpg" alt="Header Avatar">
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">
                                            Anna
                                            Adame
                                        </span>
                                        <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">Founder</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome Anna!</h6>
                                <a class="dropdown-item" asp-controller="Users">
                                    <i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span>
                                </a>

                                <a class="dropdown-item" asp-controller="Home" asp-action="Logout">
                                    <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/imgs/theme/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/imgs/theme/logo.svg" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/imgs/theme/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/imgs/theme/logo.svg" alt="" height="17">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                        id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="seller" asp-action="index">
                                <i class=" ri-pie-chart-line"></i> <span>Revenue Statistics</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="seller" asp-action="ViewStore">
                                <i class="ri-store-2-line"></i> <span>Store</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link active" asp-controller="seller" asp-action="ViewProductList">
                                <i class="ri-restaurant-2-fill"></i> <span>Products</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="seller" asp-action="ManageOrder">
                                <i class="ri-file-copy-2-line"></i> <span>Sales History</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="seller" asp-action="feedbacklist">
                                <i class="ri-question-answer-line"></i> <span>Feedback</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link menu-link" href="">
                                <i class="ri-error-warning-line"></i> <span>Order Complaint</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="">
                                <i class="ri-price-tag-3-line"></i> <span>Vouchers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="">
                                <i class=" ri-chat-3-line"></i> <span>Chat</span>
                            </a>
                        </li> -->
                    </ul>
                </div>

            </div>
            <!-- Sidebar -->
        </div>
        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                            <h4 class="mb-sm-0">Register Store Details</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                    <li class="breadcrumb-item active">Form Layout</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- Alert nếu store bị khóa -->
                @if (!isActive)
                {
                    <div class="alert alert-danger text-center">
                        <p><strong>Your store has been locked due to a policy violation!</strong></p>
                        <p>Please contact support for further assistance.</p>
                    </div>

                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Create Product Type</h4>
                                </div>

                                <div class="card-body">
                                    <div class="live-preview">
                                        <form method="post" asp-action="CreateProductType">
                                            <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />

                                            <div class="row">
                                                <!-- Size -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="Size" class="form-label">Name</label>
                                                        <input asp-for="Size" class="form-control" placeholder="Enter name" disabled />
                                                        <span asp-validation-for="Size" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Price -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="Price" class="form-label">Price</label>
                                                        <input asp-for="Price" type="number" step="0.01" class="form-control" placeholder="Enter sell price" disabled />
                                                        <span asp-validation-for="Price" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Original Price -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="OriginalPrice" class="form-label">Original Price</label>
                                                        <input asp-for="OriginalPrice" type="number" step="0.01" class="form-control" placeholder="Enter original price" disabled />
                                                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Stock -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="Stock" class="form-label">Stock Quantity</label>
                                                        <input asp-for="Stock" type="number" class="form-control" placeholder="Enter stock quantity" disabled />
                                                        <span asp-validation-for="Stock" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Manufacture Date -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="ManufactureDate" class="form-label">Manufacture Date</label>
                                                        <input asp-for="ManufactureDate" type="date" class="form-control" disabled />
                                                        <span asp-validation-for="ManufactureDate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Nút hành động -->
                                                <div class="col-lg-12 text-end">
                                                    <a href="/Seller/ViewProductVariants?productId=@Model.ProductID" class="btn btn-secondary px-4">
                                                        Back to List
                                                    </a>

                                                    <!-- Nút Create Variant sẽ bị làm mờ nếu store bị khóa -->
                                                    <button type="submit" class="btn btn-primary px-4" @(isActive ? "" : "disabled")>Create Product Type</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Create Product Type</h4>
                                </div>

                                <div class="card-body">
                                    <div class="live-preview">
                                        <form method="post" asp-action="CreateProductType">
                                            <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />

                                            <div class="row">
                                                <!-- Size -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="Size" class="form-label">Name</label>
                                                        <input asp-for="Size" class="form-control" placeholder="Enter name" />
                                                        <span asp-validation-for="Size" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Price -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="Price" class="form-label">Sell Price</label>
                                                        <input asp-for="Price" type="number" step="0.01" class="form-control" placeholder="Enter sell price" />
                                                        <span asp-validation-for="Price" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Original Price -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="OriginalPrice" class="form-label">Original Price</label>
                                                        <input asp-for="OriginalPrice" type="number" step="0.01" class="form-control" placeholder="Enter original price" />
                                                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Stock -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="Stock" class="form-label">Stock Quantity</label>
                                                        <input asp-for="Stock" type="number" class="form-control" placeholder="Enter stock quantity" />
                                                        <span asp-validation-for="Stock" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Manufacture Date -->
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label asp-for="ManufactureDate" class="form-label">Manufacture Date</label>
                                                        <input asp-for="ManufactureDate" type="date" class="form-control" />
                                                        <span asp-validation-for="ManufactureDate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Nút hành động -->
                                                <div class="col-lg-12 text-end">
                                                    <a href="/Seller/ViewProductType?productId=@Model.ProductID" class="btn btn-secondary px-4">
                                                        Back to List
                                                    </a>

                                                    <!-- Nút Create Variant sẽ bị làm mờ nếu store bị khóa -->
                                                    <button type="submit" class="btn btn-primary px-4">Create Product Type</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var created = '@ViewBag.ProductTypeCreated';
                        var productId = '@ViewBag.ProductID';

                        if (created === 'True') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Product type created successfully!',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                window.location.href = `/Seller/ViewProductType?productId=${productId}`;
                            });
                        }
                    });
                </script>




                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © EasyFood.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by EasyFood
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

            <!-- end main content-->
            <!-- END layout-wrapper -->
            <!--start back-to-top-->
            <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
                <i class="ri-arrow-up-line"></i>
            </button>
            <!--end back-to-top-->
            <!--preloader-->
            <div id="preloader">
                <div id="status">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>



            <!-- JAVASCRIPT -->
            <script src="~/assetsAdmin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/assetsAdmin/libs/simplebar/simplebar.min.js"></script>
            <script src="~/assetsAdmin/libs/node-waves/waves.min.js"></script>
            <script src="~/assetsAdmin/libs/feather-icons/feather.min.js"></script>
            <script src="~/assetsAdmin/js/pages/plugins/lord-icon-2.1.0.js"></script>
            <script src="~/assetsAdmin/js/plugins.js"></script>
            <!-- ckeditor -->
            <script src="~/assetsAdmin/libs/%40ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

            <!-- dropzone js -->
            <script src="~/assetsAdmin/libs/dropzone/dropzone-min.js"></script>

            <script src="~/assetsAdmin/js/pages/ecommerce-product-create.init.js"></script>

            <!-- prismjs plugin -->
            <script src="~/assetsAdmin/libs/prismjs/prism.js"></script>

            <script src="~/assetsAdmin/js/app.js"></script>


</body>


<!-- Mirrored from EasyFood.com/velzon/html/master/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2025 12:22:12 GMT -->

</html>