@using Repository.ViewModels
@model ProductsViewModel

<div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
    <div class="product-cart-wrap">
        <div class="product-img-action-wrap">
            <div class="product-img product-img-zoom">
                <a href="@Url.Action("ProductDetail", "Home", new { id = Model.ID })">
                    <img class="default-img" src="@Model.Img.FirstOrDefault()" alt="@Model.Name" />
                    @if (Model.Img.Count > 1)
                    {
                        <img class="hover-img" src="@Model.Img.ElementAtOrDefault(1)" alt="@Model.Name" />
                    }
                </a>
            </div>
            <div class="product-action-1">
                <a aria-label="Add To Wishlist" class="action-btn" href="@Url.Action("AddToWishlist", "Wishlist", new { id = Model.ID })">
                    <i class="fi-rs-heart"></i>
                </a>
                <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                    <i class="fi-rs-eye"></i>
                </a>
            </div>

            <div class="product-badges product-badges-position product-badges-mrg">
                <span class="best">-14%</span>
            </div>
        </div>

        <div class="product-content-wrap">
            <div class="product-category">
                <a href="@Url.Action("GetAllProductOfCategory", "Home", new { id = Model.CateID })">@Model.CategoryName</a>
            </div>
            <h2>
                <a href="@Url.Action("ProductDetail", "Home", new { id = Model.ID })">@Model.Name</a>
            </h2>

            <div class="product-rate-cover">
                <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 90%"></div>
                </div>
                <span class="font-small ml-5 text-muted"> (4.0)</span>
            </div>

            <div>
                <span class="font-small text-muted">
                    By
                    <a href="@Url.Action("GetStoreDetail", "Home", new { id = Model.StoreId })">
                        @Model.StoreName
                    </a>
                </span>
            </div>

            <div class="product-card-bottom">
                <div class="product-price">
                    <span>@Model.Price.ToString("C")</span>
                    <span class="old-price">@((Model.Price * 1.1m).ToString("C"))</span>
                </div>
                <div class="add-cart">
                    <a class="add" href="@Url.Action("ProductDetail", "Home", new { id = Model.ID })">
                        <i class="fi-rs-shopping-cart mr-5"></i>View Detail
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
