@using X.PagedList
@using Repository.ViewModels
@model IPagedList<RecipeViewModels>

<div class="loop-grid loop-list pr-30 mb-50">
    @foreach (var item in Model)
    {
        <article class="wow fadeIn animated hover-up mb-30 animated d-flex">
            <div class="post-thumb" style="background-image: url('@item.ThumbnailImage');"></div>

            <div class="entry-content-2 pl-50 d-flex flex-column h-100">
                <h3 class="post-title mb-20">
                    <a asp-controller="Users" asp-action="RecipeDetail" asp-route-id="@item.ID">@item.Title</a>
                </h3>

                <p class="post-exerpt mb-40">
                    @(string.IsNullOrWhiteSpace(item.ShortDescriptions) ? "No description available." : item.ShortDescriptions)
                </p>

                <div class="entry-meta meta-1 font-xs color-grey mt-auto pb-10">
                    <div class="d-flex flex-wrap gap-2 mb-2">
                        <span class="post-on">@item.TypeOfDishName</span>
                        <span class="post-on has-dot">@item.DifficultyLevel</span>
                        <span class="post-on has-dot">@item.CreatedDate.ToString("dd/MM/yyyy")</span>
                        <span class="hit-count has-dot">126k Views</span>
                    </div>

                    <div class="text-end">
                        <a asp-action="RecipeDetail" asp-controller="Users" asp-route-id="@item.ID"
                           class="text-brand font-heading font-weight-bold">
                            Read more <i class="fi-rs-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    }
</div>
