@using Repository.ViewModels
@model StoreFollowerViewModel

<div class="col-lg-6 col-md-6 col-12 col-sm-6 store-item" data-id="@Model.ID">
    <div class="vendor-wrap style-2 mb-40 position-relative">
        <div class="vendor-img-action-wrap">
            <div class="vendor-img">
                <a asp-action="GetStoreDetail" asp-controller="Home" asp-route-id="@Model.ID">
                    <img class="default-img" src="@Model.Img" alt="@Model.Name" />
                </a>
            </div>
        </div>

        <div class="vendor-content-wrap">
            <div class="mb-30">
                <div class="product-category">
                    <span class="text-muted">@Model.CreatedDate.ToString("dd/MM/yyyy")</span>
                </div>
                <h4>
                    <a asp-action="GetStoreDetail" asp-controller="Home" asp-route-id="@Model.ID">@Model.Name</a>
                </h4>
                <div class="product-rate-cover"></div>
                <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 90%"></div>
                </div>
                <span class="font-small ml-5 text-muted"> (4.0)</span>
            </div>
            <div class="vendor-info">
                <ul class="contact-infor text-muted">
                    <li>
                        <img src="~/assets/imgs/theme/icons/icon-location.svg" alt="" />
                        <strong>Shop: </strong> <span>@Model.Address</span>
                    </li>
                    <li>
                        <img src="~/assets/imgs/theme/icons/icon-contact.svg" alt="" />
                        <strong>Call Us:</strong> <span>@Model.Phone</span>
                    </li>
                    <li>
                        <img src="~/assets/imgs/theme/icons/icon-location.svg" alt="" />
                        <strong>Description:</strong> <span>@Model.ShortDescriptions</span>
                    </li>
                    <li>
                </ul>
            </div>
            <!-- Nút Visit Store cố định ở góc dưới bên phải -->
            <div class="position-absolute" style="bottom: 20px; right: 20px;">
                <a asp-action="GetStoreDetail" asp-controller="Home" asp-route-id="@Model.ID" class="btn btn-xs">
                    Visit Store <i class="fi-rs-arrow-small-right"></i>
                </a>
            </div>
            <!-- Nút UNFOLLOW -->
            <div class="position-absolute" style="top: 10px; right: 10px;">
                <button type="button" class="btn btn-sm btn-outline-danger unfollow-btn" data-store-id="@Model.ID">
                    Unfollow
                </button>
            </div>
        </div>
    </div>





</div>
</div>
