@model Repository.ViewModels.ViewStoreDetailViewModel
@* @using Newtonsoft.Json *@
@using System.Text.Json

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">


<!-- Mirrored from EasyFood.com/velzon/html/master/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2025 12:22:12 GMT -->

<head>

    <meta charset="utf-8" />
    <title>EasyFood | Seller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="EasyFood" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assetsAdmin/images/favicon.svg">

    <!-- gridjs css -->
    <link rel="stylesheet" href="~/assetsAdmin/libs/gridjs/theme/mermaid.min.css">

    <!-- Layout config Js -->
    <script src="~/assetsAdmin/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assetsAdmin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assetsAdmin/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assetsAdmin/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("_headeradmin")


        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/assetsAdmin/images/logo-sm.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assetsAdmin/images/logo-dark.svg" alt="" height="35">
                    </span>
                </a>
                <!-- Light Logo-->
                <a class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/assetsAdmin/images/logo-sm.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assetsAdmin/images/logo-light.svg" alt="" height="35">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="Index">
                                <i class=" ri-pie-chart-line"></i> <span>Revenue Statistics</span>
                            </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link" asp-controller="Admin" asp-action="WithdrawList">
                            <i class="ri-exchange-dollar-line"></i> <span>Withdrawal Requests From Users</span>
                        </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link" asp-controller="Admin" asp-action="Managercomplant">
                            <i class="ri-error-warning-line"></i> <span>Order Complaint Reports From Seller</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="ManagerUser">
                                <i class="ri-account-circle-line"></i> <span>User Accounts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="ManagementSeller">
                                <i class="ri-user-add-line"></i> <span>Seller Registration Requests</span>
                            </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link active" asp-controller="Admin" asp-action="ViewStoreRegistration">
                            <i class="ri-file-add-line"></i> <span>Store Registration Requests</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="ViewAdminStore">
                                <i class="ri-store-2-line"></i> <span>Store</span>
                            </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link" asp-controller="Admin" asp-action="ManagementReportStore">
                            <i class="ri-alert-line"></i> <span>Store Reports From User</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="ViewCategories">
                                <i class="ri-folder-2-line"></i> <span>Categories</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="ManagementRecipe">
                                <i class="ri-restaurant-2-line"></i> <span>Cooking Recipes</span>
                            </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link" asp-controller="Admin" asp-action="GetAllIngredientTag">
                            <i class=" ri-price-tag-3-line"></i> <span>Ingredient Tag</span>
                        </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link" asp-controller="Admin" asp-action="GetAllTypeOfDish">
                            <i class="ri-restaurant-line"></i> <span>Type of Dish</span>
                        </a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link menu-link" asp-controller="Admin" asp-action="ManagerVoucher">
                            <i class=" ri-coupon-2-line"></i> <span>Voucher</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" asp-controller="Admin" asp-action="Chat">
                                <i class="ri-chat-3-line"></i> <span>Chat</span>
                            </a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link menu-link" href="">
                                <i class="ri-notification-2-line"></i> <span>Notifications</span>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
        </div>
        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                            <h4 class="mb-sm-0">Store Details</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/Admin/ViewStoreRegistration">Store
                                            Registration List</a></li>
                                    <li class="breadcrumb-item active">Store Details</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="col-xxl-12">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Store Details</h4>
                        </div>
                        <div class="border rounded p-3 mb-3">
                            <form method="post">
                                <input type="hidden" name="ID" value="@Model.ID" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Store Name</label>
                                            <input type="text" class="form-control" value="@Model.StoreName" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Store Owner</label>
                                            <input type="text" class="form-control" value="@Model.StoreOwner"
                                                readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Created Date</label>
                                            <input type="text" class="form-control"
                                                value="@Model.CreatedDate.ToString("dd-MM-yyyy")" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Modified Date</label>
                                            <input type="text" class="form-control"
                                                value="@Model.ModifiedDate?.ToString("dd-MM-yyyy")" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Status</label>
                                            <input type="text" class="form-control" value="@Model.Status" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Is Active</label>
                                            <input type="text" class="form-control"
                                                value="@(Model.IsActive ? "Yes" : "No")" readonly />
                                        </div>
                                    </div>

                                    @if (!string.IsNullOrEmpty(Model.RejectNote))
                                    {
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label text-danger">Reject Note</label>
                                                <input type="text" class="form-control text-danger"
                                                    value="@Model.RejectNote" readonly />
                                            </div>
                                        </div>
                                    }

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Short Description</label>
                                            <input type="text" class="form-control" value="@Model.ShortDescriptions"
                                                readonly />
                                        </div>
                                    </div>

                                    <style>
                                        .description-box {
                                            border: 1px solid #ced4da;
                                            border-radius: 5px;
                                            padding: 8px;
                                            min-height: 40px;
                                            display: block;
                                            width: 100%;
                                            box-sizing: border-box;
                                            background-color: #f8f9fa;
                                        }
                                    </style>

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Long Description</label>
                                            <textarea class="form-control" rows="5" readonly style="resize: vertical;">
@System.Text.RegularExpressions.Regex.Replace(Model.LongDescriptions ?? "", "<.*?>", "")
        </textarea>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Address</label>
                                            <input type="text" class="form-control" value="@Model.Address" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" value="@Model.Phone" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Image</label>
                                            <div>
                                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                                {
                                                    <img src="@Model.ImageUrl" alt="Store Image" class="img-fluid rounded"
                                                        style="max-height: 200px;" />
                                                }
                                                else
                                                {
                                                    <p class="text-muted">No image available</p>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 text-end mt-3">
                                        <a href="/Admin/ViewStoreRegistration" class="btn btn-sm btn-secondary me-2">
                                            Back to List
                                        </a>

                                        @if (Model.Status.ToLower() != "approved")
                                        {
                                            <button type="button" class="btn btn-sm btn-success me-2"
                                                onclick="updateStoreStatus('@Model.ID', 'Approved')">
                                                Accept
                                            </button>
                                        }
                                        @if (Model.Status.ToLower() == "pending")
                                        {
                                            <button type="button" class="btn btn-sm btn-danger"
                                                onclick="updateStoreStatus('@Model.ID', 'Rejected')">
                                                Reject
                                            </button>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    function updateStoreStatus(storeId, newStatus) {
                        let actionText = newStatus === "Approved" ? "Accept" : "Reject";

                        Swal.fire({
                            title: `Are you sure?`,
                            text: `Do you want to ${actionText} this store?`,
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: newStatus === "Approved" ? "#28a745" : "#dc3545",
                            cancelButtonColor: "#6c757d",
                            confirmButtonText: `Yes, ${actionText.toLowerCase()} it!`
                        }).then((result) => {
                            if (result.isConfirmed) {
                                fetch(`/Admin/UpdateStoreStatus/${storeId}/${newStatus}`, {
                                    method: "POST",
                                    headers: { "Content-Type": "application/json" }
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            Swal.fire({
                                                title: "Success!",
                                                text: `Store has been ${newStatus.toLowerCase()} successfully.`,
                                                icon: "success",
                                                timer: 1500,
                                                showConfirmButton: false
                                            }).then(() => location.reload());
                                        } else {
                                            Swal.fire("Error!", "Failed to update store status.", "error");
                                        }
                                    })
                                    .catch(error => {
                                        console.error("Error:", error);
                                        Swal.fire("Error!", "An unexpected error occurred.", "error");
                                    });
                            }
                        });
                    }
                </script>

                @await Html.PartialAsync("_Footer_Admin_Seller")
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->
        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->
        <!--preloader-->
        <div id="preloader">
            <div id="status">
                <div class="spinner-border text-primary avatar-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>




        <!-- JAVASCRIPT -->
        <script src="~/assetsAdmin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assetsAdmin/libs/simplebar/simplebar.min.js"></script>
        <script src="~/assetsAdmin/libs/node-waves/waves.min.js"></script>
        <script src="~/assetsAdmin/libs/feather-icons/feather.min.js"></script>
        <script src="~/assetsAdmin/js/pages/plugins/lord-icon-2.1.0.js"></script>
        <script src="~/assetsAdmin/js/plugins.js"></script>

        <!-- prismjs plugin -->
        <script src="~/assetsAdmin/libs/prismjs/prism.js"></script>

        <!-- gridjs js -->
        <script src="~/assetsAdmin/libs/gridjs/gridjs.umd.js"></script>
        <!-- gridjs init -->
        <script src="~/assetsAdmin/js/pages/gridjs.init.js"></script>

        <!-- App js -->
        <script src="~/assetsAdmin/js/app.js"></script>

</body>


<!-- Mirrored from EasyFood.com/velzon/html/master/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2025 12:22:12 GMT -->

</html>